<style>
div, h1, h3{
    text-align: center;
    padding: 19px;
}
</style>

<a href="/">Volver</a>
<div>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Emblema_Universidad_de_Sevilla.png/1200px-Emblema_Universidad_de_Sevilla.png" width="300"/>
</div>
<h1>Equipo de desarrollo</h1>
<h3>Andrea Domínguez Monreal - Ingeniería informática de Software</h3>
<h3>Marta Dorante Cardoso - Ingeniería informática de Software</h3>
<h3>Alejandro Ugarte Ruiz - Ingeniería informática de Software</h3>