{% extends 'master.html' %}

{% block titulo %} INICIO {% endblock %}


{% block contenido %}

<table>
    <tr>
        <th>
            <fieldset>
                <legend>
                    Buscador de salidas por destino
                </legend>
                <form id = "formulario1" method="POST">{% csrf_token %}
                    <input class="txt" type="text" name="destino" placeholder="Destino" required/>
                    <input class="button" type="submit" value="Buscar"/>
                </form>
            </fieldset>
        </th>
        <th>
            <fieldset>
                <legend>
                    Buscador de llegadas por origen
                </legend>
                <form id = "formulario2" method="POST">{% csrf_token %}
                    <input class="txt" type="text" name="origen" placeholder="Origen" required/>
                    <input class="button" type="submit" value="Buscar"/>  
                    </form>            
            </fieldset>
        </th>
    </tr>
</table>



{% if salidas %}
<div class="contenedor-titulo-vuelo">
    <h1 class="titulo-vuelo">Salidas</h1>
</div>

{% for salida in salidas%}
<div class="flex">
    <div class="flex-img">
        <div>
            <img style="align-self: auto;" src="{{salida.aerolinea.logo}}">
        </div>
        <div style="text-align: center;">
            {{salida.aerolinea}}
        </div>
    </div>
    <div class="flex-txt">
        <p>{{salida}}</p>
        {{salida.partida}}
        {{salida.estado}}
        {% if salida.con_retraso == True %}
           <p style="color: rgb(206, 81, 81);">Con retraso</p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% else %}

{% if llegadas %}
<div class="contenedor-titulo-vuelo">
    <h1 class="titulo-vuelo">Resultados de llegadas para: {{origen}}</h1>
</div>

{% for llegada in llegadas%}
<div class="flex">
    <div class="flex-img">
        <div>
            <img style="align-self: auto;" src="{{llegada.aerolinea.logo}}">
        </div>
        <div style="text-align: center;">
            {{llegada.aerolinea}}
        </div>
    </div>
    <div class="flex-txt">
        <p>{{llegada}}</p>
        <p>Llegada: {{llegada.partida}} - {{llegada.estado}}</p>
        {% if llegada.con_retraso == True %}
           <p style="color: rgb(206, 81, 81);">Con retraso</p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% else %}
{% if post == 1%}
<section class="form-error">
    <p>No hay resultados que coincidan con los criterios de búsqueda</p>
</section>
{% endif %}
{% endif %}

<section class="bienvenida">
    <h1 class="h1-bienvenida">Bienvenido a Sevilla vuela</h1>
    <div class="foto-bienvenida">
        <img src="https://i.ibb.co/4MhnxMC/svq.png" width="500" />
    </div>
    <p>En esta página encontrarás información acerca de las compañías que operan diariamente en el aeropuerto sevillano, 
        así como las salidas y llegadas programadas que tienen cada una de ellas. </p>
</section>
{% endif %}

{% endblock %}

