{% extends 'master.html' %}

{% block titulo %} INICIO {% endblock %}


{% block contenido %}

<table>
    <tr>
        <th>
            <fieldset>
                <legend>
                    Buscador de llegadas por origen
                </legend>
                Insertar aquí el formulario
            </fieldset>
        </th>
        <th>
            <fieldset>
                <legend>
                    Buscador de salidas por destino
                </legend>
                Insertar aquí el formulario
            </fieldset>
        </th>
    </tr>
</table>
{% endblock %}