{% extends 'master.html' %}

{% block titulo %} VUELOS COMPARTIDOS {% endblock %}
    
{% block contenido %}
<div class="contenedor-url-rel">
    <div class="url-rel" >
        <a href="/">Inicio</a> > <a href="/vuelos">Vuelos</a> > Vuelos compartidos
    </div>
</div>
{% if all_llegadas_comp %}
    <div class="contenedor-titulo-vuelo">
        <h1 class="titulo-vuelo">Lista de las llegadas de todos los vuelos compartidos</h1>
    </div>

    {% for llegada in all_llegadas_comp %}
        <div class="flex">
            <div class="flex-txt">
                <p>{{llegada.aerolinea}} - <strong>{{llegada.operadora}}</strong></p>
                <p>{{llegada}}</p>
                <p>Llegada: {{llegada.hora_llegada}} - {{llegada.estado}}</p>
                {% if llegada.con_retraso == True %}
                    <p style="color: rgb(206, 81, 81);">Con retraso</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <section class="form-error">
        <p>No hay llegadas de código compartido a estas horas.</p>
    </section>
{% endif %}
   

{% if all_salidas_comp %}
    <div class="contenedor-titulo-vuelo">
        <h1 class="titulo-vuelo">Lista de las salidas de todos los vuelos compartidos</h1>
    </div>

    {% for salida in all_salidas_comp %}
        <div class="flex">
            <div class="flex-txt">
                <p>{{salida.aerolinea}} - <strong>{{salida.operadora}}</strong></p>
                <p>{{salida}}</p>
                <p>Llegada: {{salida.hora_llegada}} - {{salida.estado}}</p>
                {% if salida.con_retraso == True %}
                    <p style="color: rgb(206, 81, 81);">Con retraso</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <section class="form-error">
        <p>No hay salidas de código compartido a estas horas.</p>
    </section>
{% endif %}
{% endblock %}