{% extends 'master.html' %}

{% block titulo %} LLEGADAS {% endblock %}
    
{% block contenido %}
<div class="contenedor-url-rel">
    <div class="url-rel" >
        <a href="/">Inicio</a> > <a href="/vuelos">Vuelos</a> > Llegadas
    </div>
</div>
{% if all_llegadas %}
    <div class="contenedor-titulo-vuelo">
        <h1 class="titulo-vuelo">Lista de las llegadas de todos los vuelos</h1>
    </div>

    {% for salida in all_llegadas %}
        <div class="flex">
            <div class="flex-img">
                <div>
                    <img style="align-self: auto;" src="{{salida.aerolinea.logo}}">
                </div>
                <div style="text-align: center;">
                    {{salida.aerolinea}}
                </div>
            </div>
            <div class="flex-txt">
                <p>{{salida}}</p>
                <p>Llegada: {{salida.hora_llegada}} - {{salida.estado}}</p>
                {% if salida.con_retraso == True %}
                    <p style="color: rgb(206, 81, 81);">Con retraso</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <section class="form-error">
        <p>No hay salidas ni llegadas a estas horas.</p>
    </section>
{% endif %}
{% endblock %}