<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>
	<title>Sevilla vuela</title>
	<link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/estilos.css">
  </head>
	<body>	
		<header>
			<a href="/"><img width="190" style="margin-top: 40px;" src="https://i.ibb.co/92Ph5JD/sevilla-vuela.png"/></a>
			<nav>
				<a href="/">Inicio</a>
				<a href="/aerolineas">Aerolíneas</a>
				<a href="/vuelos">Vuelos</a>
			</nav>
		</header>

		<div class="wrapper">
			<section>
				<section class="titulo">
					<h1>{% block titulo %} {% endblock %}</section></h1>
				<div class="contenido">
				{% block contenido %} {% endblock %}
				</div>
			</section>
		</div>
		
		<footer>
			<div class="attachments">
				<table>
					<tr>
						<td>
							<ul class="ul-footer">
								<li><p><a href="http://www.aena.es/es/aeropuerto-sevilla/companias-aereas.html" target="_blank">Aena-Sevilla<a></p></li>
								<li><p><a href="https://www.aeropuertos.net/aeropuerto-de-sevilla-llegadas-de-vuelos/" target="_blank">Aeropuertos.net - Sevilla<a></p></li>
								<li><p><a href="https://www.aeropuertos.net/" target="_blank">Aeropuertos.net<a></p></li>
							</ul>
						</td>
						<td style="vertical-align: text-top;">
							<ul class="ul-footer">
								<li><p><a href="/about_us">Sobre nosotros<a></p></li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			<div class="footer-split" >
			</div>
			<div>
				<ul class="ul-info-footer">
					<li><p>Esta página es un proyecto puramente académico y no pretende, en ningún momento, robar información.</p></li>
					<li><p>Trabajo realizado para la asignatura Acceso Inteligente a la información.</p></li>
				</ul>		
				<div id="img-footer">
				<img src="https://www.us.es/sites/default/files/inline-images/logo_us_neg_0.png" width="68"/>
				</div>
			</div>
		</footer>
	</body>
</html>
