<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>
	<title>Sevilla vuela</title>
	<link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/estilos.css">
  </head>
  	<body>
		
		<header>
			<p><img width="250" style="margin-top: 40px;" src="https://i.ibb.co/9ZHXWgc/Captura.png"/></p>
			<nav>
				<a href="#">Inicio</a>
				<a href="/aerolineas">Aerolíneas</a>
				<a href="/vuelos">Vuelos</a>
			</nav>
		</header>

		<div class="wrapper">
			<section>
				<section class="titulo">
					<h1>{% block titulo %} {% endblock %}</section></h1>
				<div class="contenido">
				{% block contenido %} {% endblock %}
				</div>
			</section>
		</div>
  	</body>
</html>