*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background: #eff2f5;
    font-family: sans-serif;
    padding-top: 330px;
    transition: padding-top 0.5s ease;
}

header{
    width: 100%;
    height: 300px;
    background: #94c5fd;
    text-align: center;
    position: fixed;
    top:0;
    overflow: hidden;
    transition: all 0.5s ease;
}


header h1{
    font-size: 42px;
    color: white;
    line-height: 230px;
    font-weight: 300;
    transition: all 0.3s ease;
}

header h1 i{
    font-weight: bold;
    text-transform: uppercase;
}

header nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgba(15, 67, 211, 0.8);
}

header nav a{
    color: white;
    display: inline-block;
    padding: 22px 16px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5p;
}

header nav a:hover{
    background: rgba(0,0,0,0.2);
}

h2{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
    color: #2c3e58
}

p{
    margin-bottom: 2rem;
    line-height: 2;
    color: #7f8c8d
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
}

section{
    margin: 10px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

table{
    width: 100%;
    border-collapse: collapse;
}

th {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}

fieldset{
    border: 2px solid #d1d4d8 ;
}

legend{
    color: rgba(0, 0, 0, 0.801);
    font-family: sans-serif;
    font-weight: 100;
}

section .titulo{
    background-color: rgb(243, 243, 243);
    box-shadow: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.801);
    font-family: Roboto,Trebuchet MS,Lucida Sans Unicode,Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}